.row {
    display: flex;
    flex-wrap: wrap;
}



@mixin responsive-grid($key, $size) {

     @if ($size == 0) {
        @content;
    }

    @else { 
       @media screen and (min-width: $size) {

            // @content
            @for $col from 1 through $grid-columns {
                .col-#{$key}-#{$col} {
                    flex: 0 0 calc(100% / $grid-columns * $col);
                }
            }
        }
  }
}

@each $key,
$val in $grid-breakpoints {
    @include responsive-grid($key, $val);
}