.row {
    display: flex;
    flex-wrap: wrap;
}



@mixin media-query($key, $size) {
    @media only screen and (max-width: $size) {

        // @content
        @for $col from 1 through $grid-columns {
            .col-#{$key}-#{$col} {
                flex: 0 0 calc(100% / $grid-columns) * $col;
            }
        }
    }
}


@each $key,
$val in $grid-breakpoints {
    @include media-query($key, $val);
}


