.form-login {
    padding: 20px 0;
    width: 450px;
    //max-width: 450px;
}

.form-login p {
    color: gray;
}

.form-login mat-form-field {
    width: 100%;
}

.form-login h1,
.form-login p {
    text-align: center;
}

.form-login button {
    width: 100%;
}

.form-login h1,
.form-login p,
.form-login button {
    margin-bottom: 20px;
}

.form-container {
    position: absolute;
    height: 100%;
}

div.form-container > :first-child {
    height: 100%;
}