<form class="form-login" (submit)="login(username.value, password.value)">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter username" #username>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter password" type="password" #password>
            <mat-icon matSuffix>visibility_off</mat-icon>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-flat-button color="primary">Sign in</button>
    </div>
</form>