<!-- mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}} {{node.icon}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}} {{node.icon}}
  </mat-tree-node>
</mat-tree -->


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" style="padding: 20px;">
	<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
		<li>
			<div>
				<button mat-icon-button disabled>
          <!-- <mat-icon>remove</mat-icon> -->
        </button>
        {{node.name}}
			</div>
		</li>
	</mat-tree-node>

	<mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
		<li>
			<div class="mat-tree-node">
				
        <button mat-button matTreeNodeToggle>
          <mat-icon *ngIf = "node.icon">{{node.icon}}</mat-icon>

          {{node.name}}

          <mat-icon>
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
       
			</div>
			<ul [hidden]="!treeControl.isExpanded(node)">
				<ng-container matTreeNodeOutlet></ng-container>
			</ul>
		</li>
	</mat-nested-tree-node>
</mat-tree>