<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="toogleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Dashboard</span>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu" style="width:200px">
    <img width="50px" [src]="userInfo.profilePicture"/>
    {{userInfo.firstname}} {{userInfo.lastname}}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item style="width: 200px;" [routerLink]="['profile', userInfo.id]">Account</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>