<div class="container form-container">
    <div class="row justify-content-center align-items-center">
        <div class="form-wrapper">
            
            <span class="text-warn" *ngIf="message">{{message}}</span>

            <div>
                <h1>Store Administration</h1>
                <p>Administration pannel for 
                ...
                </p>
            </div>

            <router-outlet></router-outlet>
            
            <p class="copyright">&copy; Administration panel by <a href="#">vbradara</a>.</p>
            <p>Version 1.0.0</p>
        </div>
    </div>
</div>